<div class="p-4 bg-gray-50 relative w-full max-w-sm mx-auto">

  <div class="relative inline-block text-left">
    <div>
      <button (click)="toggleDropdown()" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm text-gray-700 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50">
        <span class="block truncate pr-6" *ngIf="selectedMode && selectedMode.trim().length > 0">
          Test Mode: {{ selectedMode.toUpperCase() | truncate}}
        </span>
        <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>


    <div *ngIf="showDropdown" class="absolute right-0 z-10 mt-2 w-100 origin-top-right divide-y divide-gray-600 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <p *ngFor="let testMode of testModes" (click)="onActionSelected(testMode)" class="block px-4 py-2 cursor-pointer text-sm text-gray-700 bg-blue-50 hover:bg-blue-300 ">
        {{testMode.toUpperCase() | truncate}}
      </p>
    </div>
  </div>
</div>
