.container-progress {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

p {
  opacity: 0.6;
}

mat-icon {
  font-size: 3rem;
  width: unset;
  height: unset;
}

mat-progress-bar {
  max-width: 250px;
}

mat-card-content {
  flex-grow: 1;
}

.progress-message {
  padding-top: 4px;
}