.snack-bar-container {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
}

.message-container {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  max-height: 200px;
  overflow-y: auto;
}

.message {
  padding-block-end: 4px;
}

.snack-bar-actions {
  display: flex;
  justify-content: center;
}