.tab.active {
  opacity: 100%;
}

.header-items-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trace-tabs-wrapper {
  overflow-x: auto;
}

.tabs-navigation-bar {
  height: 100%;
  border-bottom: 0px;
}

.trace-view-content {
  height: 100%;
  overflow: auto;
  background-color: var(--trace-view-background-color);
}

.tab:not(.last):after {
  content: '';
  position: absolute;
  right: 0;
  height: 60%;
  width: 1px;
  background-color: #C4C0C0;
  align-self: center;
}

.filter-presets {
  line-height: 24px;
  padding: 0 10px;
  margin-inline: 10px;
  min-width: fit-content;
  height: fit-content;
}

.filter-presets-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-presets-label .mat-icon {
  margin-inline-end: 5px;
}

.filter-presets-panel {
  max-width: 440px;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 15px;
}

.filter-presets-panel .overlay-panel-title {
  margin: 5px 5px 5px 15px;
}

.existing-preset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.existing-preset:hover {
  background-color: var(--hover-element-color);
}

.existing-preset:not(:hover) .delete-button {
  opacity: 0.5;
}

.save-section {
  padding-bottom: 10px;
}