<div class="relative z-10 shadow-md">
  <mat-toolbar class="bg-white text-gray-900 flex items-center px-4">
    <span class="font-medium text-xl tracking-tight">Motion Test Watcher</span>
    <span class="flex-auto"></span>

    <div class="font-medium text-lg justify-end mr-4 flex gap-2">
      <button mat-stroked-button color="primary" (click)="openDialog()"
        class="!border-gray-300 !text-gray-700 hover:!bg-gray-50 rounded-full">
        <mat-icon class="mr-2">cloud_download</mat-icon>
        Get Presubmit Artifacts
      </button>
      <button mat-stroked-button color="primary" (click)="openCodeSearchDialog()"
        class="!border-gray-300 !text-gray-700 hover:!bg-gray-50 rounded-full">
        <mat-icon class="mr-2">code</mat-icon>
        Get CodeSearch Goldens
      </button>
      <button mat-stroked-button color="primary" (click)="openUserJsonDialog()"
        class="!border-gray-300 !text-gray-700 hover:!bg-gray-50 rounded-full">
        <mat-icon class="mr-2">data_object</mat-icon>
        Paste JSON
      </button>
      <button mat-stroked-button color="warn" (click)="clearAll()"
        class="!border-red-300 !text-red-700 hover:!bg-red-50 rounded-full">
        <mat-icon class="mr-2">delete_sweep</mat-icon>
        Clear All
      </button>
    </div>
    <div class="button-dropdown-container">
      <test-mode-list [testModes]="testModes" (selectedTestMode)="switchMode($event)" [testMode]="testMode">
      </test-mode-list>
    </div>
  </mat-toolbar>
  <div *ngIf="isVideoPresent" class="absolute w-full justify-end flex top-full right-0 mt-2 mr-4 pointer-events-none">
    <button
      class="pointer-events-auto shadow-lg bg-white text-gray-700 hover:bg-gray-50 rounded-full p-2 transition-all duration-200 border border-gray-200 flex items-center justify-center group"
      (click)="openPreviewComponent()" matTooltip="{{showPreviewComponent ? 'Close Video Panel' : 'Open Video Panel'}}">
      <span class="google-symbols text-2xl">{{showPreviewComponent ? 'videocam_off' : 'videocam'}}</span>
    </button>
  </div>
</div>

<div class="flex h-screen p-2 2xl:p-4 bg-gray-100" #appContainer>
  <div
    class="flex flex-col py-4 justify-start w-14 bg-white border-r border-gray-200 mx-auto items-center space-y-4 shadow-sm z-20">
    <div (click)="toggleTestListVisibility()"
      class="p-2 cursor-pointer rounded-full hover:bg-gray-100 text-gray-600 hover:text-primary-color transition-all duration-200 relative group"
      matTooltip="{{ showTestList ? 'Close Test List' : 'Open Test List' }}" matTooltipPosition="right">
      <button class="flex items-center justify-center">
        <span class="google-symbols text-2xl">menu</span>
      </button>
    </div>
    <div *ngIf="goldens && goldens.length > 0 && goldens[0]?.dataSource===undefined" (click)="toggleCheckBoxes()" class="p-2 cursor-pointer rounded-full hover:bg-gray-100 text-gray-600 hover:text-primary-color transition-all
      duration-200 relative group" matTooltip="Toggle Selection Mode" matTooltipPosition="right">
      <button class="flex items-center justify-center">
        <span class="google-symbols text-2xl">{{ showCheckBoxes ? 'check_box' : 'check_box_outline_blank' }}</span>
      </button>
    </div>
  </div>
  <div *ngIf="showTestList" [@sidebarMenuAnimation] (@sidebarMenuAnimation.done)="onAnimationDone($event)"
    class="transition-all duration-75 h-full rounded-r-md overflow-y-auto" [style.width.px]="testListPanelWidth()"
    #testListPanel>
    <app-test-list [goldens]=" goldens" [testMode]="testMode" (refreshRequest)="refreshGoldens($event)"
      (selectedGoldenChange)="setSelectedGolden($event)" [presubmitTests]="presubmitTests"
      (selectedTestNameChange)="setSelectedPresubmitTest($event)" [(showCheckBoxes)]="showCheckBoxes"
      [isRefreshing]="isRefreshing"></app-test-list>
  </div>

  <div *ngIf="showTestList" class="w-2 h-full rounded-md opacity-0 hover:opacity-100 shadow-md bg-gray-100
    hover:bg-gray-400 cursor-ew-resize transition-colors duration-100" (mousedown)="onVerticalMouseDown($event)"></div>

  <div class="flex flex-col flex-grow transition-all duration-75 h-full" [style.width.px]="testDisplayPanelWidth()"
    #testDisplayPanelContainer>
    <div class="bg-white rounded-md shadow-md overflow-hidden transition-all duration-75"
      *ngIf="showPreviewComponent && isVideoPresent" [@collapseAnimation]
      (@collapseAnimation.done)="onAnimationDone($event)" [style.height.px]=" videoPanelHeight()" #videoPanel>
      <app-preview [selectedGolden]="selectedGolden"></app-preview>
    </div>

    <div *ngIf="showPreviewComponent && isVideoPresent" class="h-2 bg-gray-100 opacity-0 hover:opacity-100 rounded-md
     shadow-md hover:bg-gray-400 cursor-ns-resize transition-colors duration-100"
      (mousedown)="onHorizontalMouseDown($event)"></div>

    <div class="bg-white rounded-md shadow-md p-4 overflow-y-auto no-scrollbar transition-all duration-75"
      [style.height.px]="graphPanelHeight()" [@timelineHeightChange]="(showPreviewComponent && isVideoPresent)">
      <app-timeline [selectedGolden]="selectedGolden" [showTestList]="showTestList"
        [testMode]="testMode"></app-timeline>
    </div>
  </div>
</div>

<div *ngIf="showLoader"
  class="fixed top-0 left-0 w-screen h-screen bg-black/60 flex flex-col justify-center items-center z-50 text-white">
  <mat-spinner diameter="50"></mat-spinner>
  <p>Loading data...</p>
</div>

<div *ngIf="showProgress" class="fixed top-0 left-0 w-full h-1 bg-blue-500 transition-all duration-300 ease-in-out">
</div>